<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>示例</title>
    <style>
       
    </style>
</head>
<body>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <div id="app">

        <router-link to="home">home</router-link>
        <router-link to="user">user</router-link>
        <router-link to="info">info</router-link>
        <router-view></router-view>
        <textarea name="" id="" cols="30" rows="10" v-model="msg">{{msg}}</textarea>
        <input type="checkbox" id="checkbox" v-model="checked">
        <input type="checkbox" id="checkbox1" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
        <label for="checkbox1">{{ checked }}</label>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames1">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames1">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames1">
        <label for="mike">Mike</label>

        <input type="text" v-model="text">
        <input type="text" v-model="text">
        <p>{{text}}</p>
        <br>
        <span>Checked names: {{ checkedNames1 }}</span>

        <child>
            <template slot-scope="props1"><!--定义一个插槽，该插槽必须放在template标签内-->
                <li>{{props1.value}}</li>
            </template>
        </child>
        <child>
            <template slot-scope="props">
                <h1>{{props.value}}</h1><!--定义不同的渲染方式-->
            </template>
        <child>
    </div>


    <script>
        Vue.component('child',{
            data: function(){
                return {
                    list:[1,2,3,4]
                }
            },
            template: `<div>
                            <ul>
                                <slot v-for="value in list" :value=value>//使用slot占位
                                </slot>
                            </ul>
                        </div>`
                    })


        var home = {
            template:'<h1>home</h1>'
        }
        var user = {
            template:'<h1>user</h1>'
        }
        var info = {
            template:'<h1>info</h1>'
        }

        var routerObj = new VueRouter({
            routes:[
                {path:'/home',component:home},
                {path:'/user',component:user},
                {path:'/info',component:info}
            ]
        })

        var vm = new Vue({
            el:"#app",
            data:{
                checked:true,
                msg:"大家都是好学生",
                checkedNames1: [],
                text:[]
            },
            methods:{},
            router:routerObj
        })
    </script>

</body>
</html>